section.DepartureMonitor {
    @keyframes ticker {
        0%, 10% {
            margin-left:0%;
            transform: translate3d(0, 0, 0);
        }
        90%, 100% {
            margin-left:100%;
            transform: translate3d(-100%, 0, 0);
        }
    }
    .departures {
        display: grid;
        // grid-template-columns: min-content min-content min-content min-content auto min-content;
        grid-column-gap: 8px;
        white-space: nowrap;
        &>div {
            overflow: hidden;
        }
        .delay {
            color: red;
        }
        .route {
            animation: 10s linear infinite alternate ticker;
            // margin-left: 50%;
            display: inline-block;
        }
        .platform {
            text-align: right
        }
    }
}